<h1>Listing ststus</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ststus.each do |ststu| %>
  <tr>
    <td><%= ststu.name %></td>
    <td><%= ststu.content %></td>
    <td><%= link_to 'Show', ststu %></td>
    <td><%= link_to 'Edit', edit_ststu_path(ststu) %></td>
    <td><%= link_to 'Destroy', ststu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Ststu', new_ststu_path %>
