<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ststu.name %>
</p>

<p>
  <b>Content:</b>
  <%= @ststu.content %>
</p>


<%= link_to 'Edit', edit_ststu_path(@ststu) %> |
<%= link_to 'Back', ststus_path %>
